
@{
    ViewBag.Title = "Index";
}
@{
    string labels = ViewBag.Labels;

    string label1 = ViewBag.Label1;
    string data1 = ViewBag.data1;

    string label2 = ViewBag.Label2;
    string data2 = ViewBag.data2;

    List<Team5_WebAPI.Models.Chart_VO> ac = ViewBag.list;
    int count = 1;
   

    string modesa = ViewBag.model;
    string month = ViewBag.month;
    string salesdata = ViewBag.salesdata;
    List<Team5_WebAPI.Models.Sales_VO> ca = ViewBag.saleslist;

}
<div class="col-xs-12">
    <div class="callout callout-success">
        <h4>월별 주문량 및 판매량</h4>

        <p>
           현재 연도를 기준으로 제품의 월별 주문량과 판매량을 비교 및 분석할수 있습니다.   
        </p>
    </div>
</div>
<div class="col-xs-12">
    <div class="box box-default">
        <div class="box-body">
            <div class="col-md-6">
                <!-- AREA CHART -->


                <h3 class="box-title">월별 주문,판매 정보</h3>

                <div class="box-body">
                    <div class="chart">
                        <canvas id="barChart" style="height:250px"></canvas> <!-- height 바꾸면 크기 조정, id 값= 유일하게-->
                    </div>
                </div>
                <!-- /.box-body -->

            </div>
            <div class="col-md-6">

                <div class="box-header">
                    
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>날짜</th>
                                <th>고객사</th>
                                <th>주문량</th>
                                <th>판매량</th>
                            </tr>
                            @foreach (var a in ac)
                            {
                            <tr>
                                <td>@count</td>
                                <td>@a.MM 월</td>
                                <td>@a.COM_Code</td>
                                <td>
                                    <span class="badge bg-green">@a.Qty</span>
                                </td>
                                <td><span class="badge bg-red">@a.Sales_shipQty</span></td>
                            </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
               
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="callout callout-warning">
        <h4>월별 제품 단가</h4>

        <p>
            현재 연도를 기준으로 제품의 단가를 월별로 확인하여 대조 및 분석할수 있습니다.
        </p>
    </div>
</div>

<!-- /.box -->
<!-- DONUT CHART -->
<!-- /.col (LEFT) -->
<div class="col-xs-12">
    <div class="box box-default">
        <div class="box-body">
            <div class="col-md-12">
                <h3 class="box-title">월별 제품 단가 정보</h3>
                <div class="box-body">
                    <div class="chart">
                        <canvas id="lineChart" style="height:230px"></canvas>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="col-md-12">

             
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th>날짜</th>
                                <th>고객사</th>
                                <th>제품 단가</th>
                                <th>수정자</th>
                                <th >수정일</th>
                            </tr>
                            @foreach (var sales in ca)
                            {
                            <tr>
                                <td></td>
                                <td>@sales.Sales_StartDate 월</td>
                                <td>
                                    @sales.COM_Code
                                </td>
                                <td><span class="badge bg-yellow">@sales.Sales_Price_Now</span></td>
                                <td>@sales.Sales_Editer</td>
                                <td>@sales.Sales_EditDate.ToShortDateString()</td>
                            </tr>
                              
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>



            <!-- /.box -->
        </div>
    </div>
</div>

<!-- /.col (RIGHT) -->
<!-- /.row -->



@section Scripts {
    <script>
       $(document).ready(function () {
         
          




            //-------------
            //- BAR CHART -
            //-------------
            var barChartCanvas = $('#barChart').get(0).getContext('2d')
           var barChart = new Chart(barChartCanvas)
            var temp = "@labels";
                var arrTemp = temp.split(',');

            var barChartData = {
                    labels: arrTemp,
            datasets: [
                        {
                            label: '@label1',
                            fillColor: 'rgba(0, 166, 90)',
                            strokeColor: 'rgba(0, 166, 90)',
                            pointColor: 'rgba(0, 166, 90)',
                            pointStrokeColor: '#00a65a',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(220,220,220,1)',
                            data: @data1
                        },
                        {
                            label: '@label1',
                            fillColor: 'rgba(221, 75, 57)',
                            strokeColor: 'rgba(221, 75, 57)',
                            pointColor: 'rgba(221, 75, 57)',
                            pointStrokeColor: '#dd4b39',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(220,220,220,1)',
                            data: @data2
                         }
             ]
          };
            //barChartData.datasets[1].fillColor = '#00a62a'
            //barChartData.datasets[1].strokeColor = '#00a61a'
            //barChartData.datasets[1].pointColor = '#00a63a'
            var barChartOptions = {
                //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
                scaleBeginAtZero: true,
                //Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: true,
                //String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                //Number - Width of the grid lines
                scaleGridLineWidth: 1,
                //Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                //Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                //Boolean - If there is a stroke on each bar
                barShowStroke: true,
                //Number - Pixel width of the bar stroke
                barStrokeWidth: 2,
                //Number - Spacing between each of the X value sets
                barValueSpacing: 5,
                //Number - Spacing between data sets within X values
                barDatasetSpacing: 1,
                //String - A legend template
                legendTemplate: '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
                //Boolean - whether to make the chart responsive
                responsive: true,
                maintainAspectRatio: true
            }

            barChartOptions.datasetFill = false
           barChart.Bar(barChartData, barChartOptions)

           
            var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
           var lineChart = new Chart(lineChartCanvas)
           
                var temp2 = "@month";
                var arrTemp2 = temp2.split(',');

                var lineChartData = {
                    labels: arrTemp2,
                    datasets: [
                        {
                            label: '@modesa',
                            fillColor: 'rgba(255, 149, 0)',
                            strokeColor: 'rgba(247, 176, 77)',
                            pointColor: 'rgba(247, 176, 77)',
                            pointStrokeColor: '#ff9500',
                            pointHighlightFill: '#fff',
                            pointHighlightStroke: 'rgba(220,220,220,1)',
                            data: @salesdata
                        }
                 ]
                };
           var lineChartOptions = barChartOptions


            lineChartOptions.datasetFill = false
            lineChart.Line(lineChartData, lineChartOptions)
        })
    </script>
}
