
@{
    ViewBag.Title = "Index";
}
@{ 
    int maga =ViewBag.Countmaga ;
    int item =  ViewBag.CountItem;
    int log = ViewBag.Countlog ;
    List<Team5_WebAPI.Models.Item_VO2> inout = ViewBag.CountInout;

}
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-fw fa-line-chart"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">현재 가동 가능한 공정</span>
                <span class="info-box-number">@maga<small>개</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-fw fa-search"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">현재 품목 갯수</span>
                <span class="info-box-number">@item</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-fw fa-cubes"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">총 가동횟수</span>
                
                <span class="info-box-number">@log</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-fw fa-trophy"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">입/출고 </span>
                @foreach (var a in inout)
                {
            <span class="info-box-number">@a.Initem / @a.OutItem </span>
                }
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
&nbsp;
&nbsp;
&nbsp;
&nbsp;
<div class="callout callout-success">
    <h4>SMARTMOM Statistics View</h4>

    <p>
        현재 제품의 월별 통계와 월별 생성량과 판매량에 대한 통계를 확인할수 있습니다.
    </p>
</div>
&nbsp;
&nbsp;
&nbsp;
&nbsp;

<div class="row" >
    <section class="col-lg-6 connectedSortable ui-sortable">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-success">
                    <div class="box-header">
                        <h3 class="box-title">Admin Info</h3>

                        <div class="box-tools">
                            
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <th>ID</th>
                                    <th>User</th>

                                    <th>Status</th>
                                    <th>Reason</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>함성민</td>

                                    <td><span class=" label label-warning">팀장</span></td>
                                    <td>일하세요 나도 힘들어</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>홍성철</td>

                                    <td><span class="label label-success">팀원</span></td>
                                    <td>POP 하기 힘들어요 </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>박수민</td>

                                    <td><span class="label label-success">팀원</span></td>
                                    <td>작업좀 그만 주세요</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>이병진</td>

                                    <td><span class="label label-success">팀원</span></td>
                                    <td>WinForm 힘들어요 </td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>강인서</td>

                                    <td><span class="label label-success">팀원</span></td>
                                    <td>WEB 너무 힘들어요</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>

        </div>
    </section>
    <section class="col-lg-6 connectedSortable ui-sortable">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">About This</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <strong><i class="fa fa-book margin-r-5"></i> 설명</strong>

                        <p class="text-muted">
                            제품의 월별 제품과 입출고 통계 및 공정별 실적을 확인할수 있습니다.
                        </p>

                        <hr>

                        <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

                        <p class="text-muted">구디 아카데미</p>

                        <hr>




                        <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

                        <p>자세한 통계는 왼쪽 상단의 메뉴를 확인하시면 됩니다.</p>
                    </div>
                    <!-- /.box-body -->
                </div>

            </div>
        </div>
    </section>
</div>

<div class="timeline-body">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OUdvbElk9z8" frameborder="0" allowfullscreen=""></iframe>
    </div>
   
</div>







